  <div class="mt-5 mb-3">
    <div class="row ml-5 mr-5">
        <div class="col-3">
            <div (click)="routeToAllBooks()" class="customC card w-100 pointer  h-100" style="width: 18rem;">
                <img src="./../../assets/book.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Books</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div (click)="routeToAllTables()" class="customC card w-100 pointer h-100" style="width: 18rem;">
                <img src="./../../assets/classroom.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tables</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="col-3">
            <div (click)="routeToAllPRoectors()" class="customC card w-100 pointer h-100" style="width: 18rem;">
                <img src="./../../assets/proector.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Proectors</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="customC card w-100 pointer h-100" style="width: 18rem;">
                <img src="./../../assets/table.png" class=" card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    
    
  
    
</div>

